.prescriptions-list {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 200%;
    margin-left: 3%;
  }
  
  .prescriptions-list h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-bar button {
    padding: 5px 10px;
    background-color: #7abaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    height: 200%;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .status-button {
    padding: px 10px;
    border: none;
    border-radius: 5px;
    background-color: #3b546d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Add transition for smoother effect */
  }
  
  .status-button:hover {
    background-color: #3b546d;
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
  .status-button.completed {
    background-color: #28a745; /* Green background when completed */
  }
  